package main

import (
	"fmt"
	"os"

	_ "github.com/vdinovi/advent_of_code_2023/lib/{{.LibName}}"
	soln "github.com/vdinovi/advent_of_code_2023/{{.Day}}/solution"
)

func main() {
	err := soln.Solve()
	if err != nil {
		fmt.Fprintf(os.Stderr, "error: %s\n", err)
		os.Exit(1)
	}
}
